[submodule "vendor/lodepng"]
	path = vendor/lodepng
	url = https://github.com/lvandeve/lodepng
[submodule "vendor/cgif"]
	path = vendor/cgif
	url = https://github.com/dloebl/cgif
[submodule "vendor/giflib"]
	path = vendor/giflib
	url = https://github.com/mirrorer/giflib
