[submodule "vendor/libpng"]
	path = vendor/libpng
	url = https://github.com/pnggroup/libpng
[submodule "vendor/lodepng"]
	path = vendor/lodepng
	url = https://github.com/lvandeve/lodepng
[submodule "vendor/cgif"]
	path = vendor/cgif
	url = https://github.com/dloebl/cgif
